<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="nav"><
                <br/>
                @Html.ActionLink("About","Index","Home")
                <br />
                <br/>
                @Html.ActionLink("food","Food","Home")
                <br />
                <br/>
                @Html.ActionLink("game","Game","Home")
                <br />
                <br/>
                @Html.ActionLink("Movie","Movie","Home")
                <br /><br/>
                @Html.ActionLink("Sports","Sports","Home")
                <br />
                <br/>
                @Html.ActionLink("Courses","Courses","Home")
                <br />
                
                </td>
            
        </tr>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
